* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    padding:0;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;

}
body {
    display: flex;
}

#side-bar {
    width: 15%;
    border: 1px solid black;
}
#content {
    flex-grow: 1;
    border: 1px solid black;
}
.sidebar-header{
    display: flex;
    
    height: 48px;
}
#logo {
    padding: 12px 24px 12px 0;
}
.icon-header {
    min-width: 24px;
    height: 24px;
    margin: 12px 10px 12px 16px;
}

.menu-item a {
    display: flex;
}
.menu-item a:hover {
    background-color: antiquewhite;
}
.icon  {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.menu-text  {
    line-height: 40px;
}
img {
    width: auto;
    height: 100%;
    display: block;
}

/** header **/
#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 5%;
    border: 1px solid black;
}
#header > div {
    display: flex;
    padding: 0 20px;
}



.avatar-img {
    width: 40px;
    height: 40px;
    margin: auto;
    padding: 5px;
}
#header > div > p {
    line-height: 50px;
}
.option {
    display: inline-block;
    padding: 5px;
    margin:auto;
    position: relative;
}
.option-detail {
    display: none;
}
.option:hover .option-detail {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px;
}
/*main*/
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.add {
    height: 40px;
    
    display: flex;
    position: relative;
}
.icon-add {
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
}
.add button {
    padding-left: 44px;
    padding-right: 16px;
    background-color: #019160;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}
.add button:hover {
    background-color: #2FBE8E;
    cursor: pointer;
}
.add button:focus {
    background-color: #01B075;
}
.main-search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DBDEFF;
    padding: 0 15px;
}
.refresh {
    height: 40px;
    width: 40px;
    margin: auto 0;
}
.refresh-img {
    width: 20px;
    height: 20px;
    margin: auto;
}
.search {
    display: flex;
    background-color: #FFFFFF;
    padding: 10px 0;
}
.search-input {
    display: flex;
    
    height: 40px;
    
    position: relative;
}

.icon-search {
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

input {
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 40px;
    outline: none;
}
input:focus {
    border: 1px solid #019160 ;
}
.search-type {
    height: 40px;
    margin-left: 20px;
}
.search-type-item {
    height: 100%;
}
.search-type-item option {
    display: block;
}
.search-type-item option:hover {
    background-color: azure;
}
.search-type-button {
    background-color: #019160;
    color: white;
}
  
/* table */
.table {
    padding: 10px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    
}
tr, th, td {
    
    padding: 10px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr {
    border-bottom: 1px solid black;
}
  
   