.combobox {
    display: flex;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.combobox .combobox-text {
    height: 100%;
    width: calc(100% - 40px);
    padding-left: 16px;
    outline: none;
    border: none;
}
.combobox button {
    height: 100%;
    width: 40px;
    border: none;
    outline: none;
    border-left: 1px solid#bbb;
    background-color: #fff;
    cursor: pointer;
}
.combobox button:hover{
    background-color: #E9EBEE;
}
.combobox .combobox-list {
    position: absolute;
    top: 41px;
    left: -1px;
    right: -1px;
    z-index: 100;
    background-color: #fff;
    
}
.combobox .combobox-list .combobox-item {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
}
.combobox .combobox-list .combobox-item:hover {
    background-color: #e9ebee;
}
.selected {
    background-color: #019160 !important;
    color: #fff;
    position: relative;
    align-items: center;
    line-height: 40px;
}
.selected i {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    
}
.autocomplete-active {
    background-color: #e9ebee;
    border-left: 2px solid #019160;
}
