.btn-default {
    display: flex;
    height: 40px;
    border-radius: 4px;
    background-color: #019160;
    color: #ffffff;
    align-items: center;
    font-size: 13px;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #2fbe8e;
}
.btn-default .btn-text {
    margin-left: 8px;
}

.m-second-button {
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    outline: none;
    cursor: pointer;
}
.m-second-button:hover {
    background-color: #e5e5e5;
}
.m-btn-refresh {
    background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    margin-left: 16px;
}
.btn-cancel {
    padding-left: 24px;
    padding-right: 24px;
}
.btn-x {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url('/content/icon/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.btn-x:hover {
    background-color: #e5e5e5;
    border-radius: 4px;
}
#btnDelete {
    padding: 0px 24px;
}
