.m-dialog {
    display: none;
    position: relative;
}
.m-dialog .dialog-modal {
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 999;
}
.m-dialog .dialog-content {
    /* position: absolute;  */
    /* width: 900px; */
    /* height: 400px; */
    background-color: #ffffff;
    z-index: 1000;
    /* margin-left: calc(50% - 450px);  */
}
.dialog-header {
    width: 100%;
    padding: 0 24px;
}
.dialog-header .header-title {
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0;
    text-transform: uppercase;
}
.dialog-main {
    display: flex;
    padding: 24px;
}
.dialog-main .dialog-avatar {
    width: 200px;
    margin-right: 16px;
    z-index: 1000;
}
.dialog-main .dialog-infor {
    width: calc(100% - 200px);  
}

.dialog-avatar .avatar-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/content/img/default-avatar.jpg);
    border: 1px solid #bbbbbb;
    border-radius: 200px;
}
.infor-work {
    margin-top: 24px;
}
.infor-common p, .infor-work p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.label-infor {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}
.label-infor .label {
    margin-bottom: 4px;
}
.label-infor .label span {
    color: red;
}
.dialog-footer {
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f4f4f4;
}
.dialog-footer button {
    float: right;
    margin: 10px 24px;
}

hr {
    margin-top: 8px;
    width: 85px;
    border: 3px solid #019160;
}
.avatar-des {
    text-align: center;
}