.dropdown {
    position: relative;
    height: 40px;
    width: 200px;
    margin-left: 16px;
}
.dropdown-select {
    height: 40px;
    
    display: flex;
    
    border: 1px solid #bbb;
    border-radius: 4px;
    
    
}
.dropdown-select:hover {
    cursor: pointer;
}
.dropdown-selected {
    border: 1px solid #019160 !important;
}

.dropdown .dropdown-text {
    height: 100%;
    width: calc(100% - 42px);
    border: none;
    line-height: 40px;
    padding-left: 16px;
}
.dropdown .dropdown-btn-select {
    width: 40px;
    height: 100%;
    padding: 12px;
    
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #fff;
}
.dropdown .dropdown-icon {
    width: 16px;
    height: 16px;
    /* background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center; */
    margin: auto 12px;
    text-align: center;
    
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.dropdown-list {
    position: absolute;
    right: 0;
    top: 41px;
    left: 0;
    z-index: 100;
    background-color: white;
    display: none;
    margin: auto;
}
.dropdown-list .item-list{
    height: 40px;
    padding-left: 16px;
    line-height: 40px;
}
.item-list-selected {
    background-color: #019160 !important;
    color: white;
}
.dropdown-list .item-list:hover {
    background-color: #e9ebee;
    cursor: pointer;
}
.dropdown-list .item-list:focus {
    background-color: #019160;
    cursor: pointer;
}
