.grid {
    width: 100%;
    margin-top: 16px;
    height: 100%;
    overflow: auto;
}

.grid::-webkit-scrollbar-track {
    width: 6px;
    background-color: #bbb;
}
.grid::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
.grid::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #808080;
}

table {
    
    width: 100%;
    border-collapse: collapse;   
    height: 100%;
}

table th {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
}
tr, th, td {
    
    padding: 10px;
    text-align: left;
}

td,th {
    min-width: 150px
}
tr:hover {
    background-color: #e5e5e5;
}
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table tr:nth-child(odd):hover {
    background-color: #e5e5e5;
}
tr {
    border-bottom: 1px solid #bbbbbb;
}
tr:hover {
    background-color: #e5e5e5;
}