.popup {
    display: none;
    position: relative;
}
.popup .popup-modal {
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 1999;
}
.popup .popup-content {
    width: 500px;
    height: 200px;
    background-color: #fff;
    z-index: 2000;
    position: absolute;
    margin-left: calc(50% - 250px);
    margin-top: calc(50vh - 100px);
}
.popup-body {
    width: 100%;
    height: calc(100% - 60px);
}

.popup-body .popup-header {
    margin: 24px;
    font-size: 15px;
    font-weight: bold;
}
.popup-body .popup-main {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    display: flex;
}
.popup-body .popup-main .popup-icon {
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}
.popup-icon i {
    color: #f1af15;
    
}     
.popup-footer {
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
}

