.filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    
}
.filter-bar .filter-left select {
    height: 40px;
    border: 1px solid #bbbbbb;
    outline: none;
}
.filter-bar .filter-right {
    position: absolute;
    right: 16px;
    height: 40px;
}