* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    margin-top: 24px;
    margin-left: 24px;
    min-width: 400px;
    max-width: 450px;
    transition: all linear 0.3s;
}
@keyframes slideInLeft {
    from {
        transform: translateX(calc(100% + 32px));
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeOut {
    to {
       opacity: 0; 
    }
}
.toast-icon {
    padding: 0 16px;
    font-size: 24px;
}
.toast-close {
    padding: 0 16px;
    font-size: 20px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.toast-body {
    flex-grow: 1;
}
.toast-title {
    font-size: 15;
    font-weight: 600;
    color: #333;
}
.toast-msg {
    font-size: 13px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}
.toast-success {
    border-color: #019160;
}
.toast-success .toast-icon, .toast-success .toast-close {
    color: #019160;
}
.toast-info {
    border-color: #2f86eb;
}
.toast-info .toast-icon, .toast-info .toast-close {
    color: #2f86eb;
}
.toast-warning {
    border-color: #ffc021;
}
.toast-warning .toast-icon, .toast-warning .toast-close {
    color: #ffc021;
}
.toast-error {
    border-color: #ff623d;
}
.toast-error .toast-icon, .toast-error .toast-close {
    color: #ff623d;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}